<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swarnandhra College Chatbot</title>
    <link rel="stylesheet" href="static\css\styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/images/swrn_logo.png" type="image/x-icon">
</head>
<body>
    <div class="chat-container">
        <header class="chat-header">
            <div class="logo">
                <img src="static\images\swrn_logo.png" alt="Chatbot Logo" />
                <h1>SWRN Chatbot</h1>
            </div>
            <p>Ask me anything about our college!</p>
        </header>
        <main id="chat-box" class="chat-box">
            <!-- Chat messages dynamically inserted here -->
        </main>
        <footer class="chat-footer">
            <form id="chat-form">
                <input type="text" id="user-input" placeholder="Type your question..." required />
                <button type="submit">
                    <img src="static\images\send_icon.jpeg" alt="Send" />
                </button>
            </form>
        </footer>
    </div>
    <script src="static\js\script.js"></script>
</body>
</html>
